*{
    background: #F3F5FC;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
}

.logo{
    padding-top: 20px;
    margin-left: 50px;
    height: 48px;
    width: 31.085588455200195px;
}

main{
    display:flex;
    margin-bottom: 50px;
    
}

.text-area{
    position: absolute;
    width: 580px;
    height: 288px;
    resize: none;
    border:none;
    color:#0A3871;
    margin-top: 50px;
    margin-left: 100px;
    font-size: 23px;
}

::placeholder{ color:#0A3871;}
    .text-area:focus{
        outline: none;
    }

.mensajes{
    left: 870px;
    position: fixed;
    top: 30px;

}
.mensaje{
    background: white;
    background-image:url('../imagenes/Muñeco.png');
    background-position: 50% 35%;
    background-repeat: no-repeat;
    background-size: 80%;
    border:none;
    color:#0A3871;
    border-radius: 32px;
    width: 290px;
    height: 534px;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    cursor: pointer;
    resize: none;
    padding: 25px 25px 20px;
    font-size: 21px;
    
}
.mensaje:focus{
    outline: none;
}

.informacion{
    margin-left: 100px;
    margin-top: 20px;
    font-size: 16px;
    color: #495057;
    position: absolute;
    top: 470px;
    opacity: 0.8;
}

.botones{
    display: flex;
    margin-top: 18px;
    
}
.btn-encriptar{
    background: #0A3871;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: white;
    cursor:pointer;
    height: 67px;
    width: 228px;
    font-size: 16px;
    margin-left: 90px;
    position: absolute;
    top: 520px;
    
}
.btn-encriptar:hover{
    background: #D8DFE8;
    color: #0A3871;
    transition: 0.5s;
    
}
.btn-desencriptar{
    background: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;    
    color: #0A3871;
    cursor:pointer;
    height: 67px;
    margin-left: 340px;
    width: 228px;
    font-size: 16px;
    position: absolute;
    top: 520px;
    }
.btn-desencriptar:hover{
    background: #0A3871;
    color: white;
    transition: 0.5s;
}

.copiar{
    border:1px solid #0A3871;
    background: #ffffff;
    border-radius: 24px;
    color: #0A3871;
    cursor:pointer;
    margin-left: 925px;
    width: 228px;
    font-size: 16px;
    height: 67px;
    position: absolute;
    top: 500px;
    display:none;
}
.copiar:hover{
    background: #0A3871;
    color: white;
    transition: 0.5s;
}

i{
    font-size: 0.9rem;
}

.ningun, .ningun-texto {
    background-color: transparent;
    position: absolute;
    text-align: center;
    transform: translate(-50%, -50%);
  }
.ningun{
    top: 70%;
    left: 49.3%;
    width: 100%;
    font-weight: 700;
    font-size: 23px;
    font:normal;
    margin:0;
    padding:0;
}
.ningun-texto{
    top: 79%;
    left: 49.3%;
    width: 70%;
    background-color: transparent;
    text-align: center;
    font-weight: 400;
    font-size: 12px;
}

@media screen and (max-width: 768px){
    .logo{
        left: 20px;
        top: 73.42px;
        position: absolute;
        margin: 0;
    }
    main{
        margin-left: 20px;
        
    }
    .text-area{
        margin: 0;
        padding:0;
        
        font-weight: 400;
        top: 240px;
        
        width:688px;
        height: 560px;
        font-size: 32px;
    }
    .mensajes{
        position: absolute;
        width: 688px;
        height: 133px;
        left: 20px;
        top: 1001px;
    }
    .mensaje{
        margin:0;
        width: 665px;
        height: 103px;
        background-image: none;
    }
    .informacion{
        margin:0;
        margin-top: 20px;
        font-size: 12px;
        color: #495057;
        position: absolute;
        top: 826px;
        opacity: 0.8;
    }
    .btn-encriptar{
        margin:0;
        position: absolute;
        top: 875px;
        width: 344px;
        height: 67px;
    }
    .btn-desencriptar{
        left: 50px;
        position: absolute;
        top: 875px;
        width: 344px;
        height: 67px;

    }
    .copiar{
        margin:0;
        left: 50px;
        padding: 0;
        position: absolute;
        top: 1280px;
        width: 624px;
        height: 67px;
        display:"none";
    }
    .ningun, .ningun-texto {
        background-color: transparent;
        position: absolute;
        text-align: center;
        transform: translate(-50%, -50%);
      }
    .ningun{
        
        top: 50px;
        left: 341px;
        width: 100%;
        font-weight: 700;
        font-size: 24px;
        font:normal;
        margin:0;
        padding:0;
        
    }
    .ningun-texto{
        top: 90px;
        left: 341;
        background-color: transparent;
        text-align: center;
        font-weight: 400;
        font-size: 16px;
    }
}
@media screen and (max-width: 425px){
    header{
        position: absolute;
        width: 412px;
        height: 96px;
        left: 0px;
        top: 0px;
    }
    .logo{
        margin: 0;
        padding: 0;
        left: 10px;
        right: 87.2%;
        top: 25%;
        bottom: 25%;
    }
    main{
        margin-left: 10px;
    }
    .text-area{
        padding:0;
        top: 152px;
        width: 380px;
        height: 250px;
        font-weight: 400;
        font-size: 30px;
    }
    .informacion{
        margin:0;
        margin-top: 10px;
        font-size: 12px;
        color: #495057;
        position: absolute;
        top: 420px;
        opacity: 0.8;
        left: 10px;
    }
   
    .btn-encriptar{
        margin:0;
        padding: 0;
        width: 0;
        position: absolute;
        top: 455px;
        width: 370px;
        height: 67px;
        left: 0px;
        left: 10px;
        font-size: 12px;
    }
    .btn-desencriptar{
        margin:0;
        position: absolute;
        top: 540px;
        width: 370px;
        height: 67px;
        left: 10px;
        font-size: 12px;
    }
    .mensajes{
        width: 0;
        height: 0;
        left: 0;
        left: 15px;
        top: 640px;
        width: 310px;
        height: 140px ;
    }
    .mensaje{
        margin: 0;
        width: 310px;
        height: 140px ;
        background-image: none;
        
    }

    .ningun, .ningun-texto {
        background-color: transparent;
        position: absolute;
        text-align: center;
        transform: translate(-50%, -50%);
      }
    .ningun{
        width: 77%;
        top: 70px;
        left: 57.5%;
        font-weight: 700;
        margin:0;
        padding:0;
        font-size: 24px;
        color: #343A40;
    }
    .ningun-texto{
        top: 130px;
        left: 57.5%;
        text-align: center;
        font-weight: 400;
        font-size: 14px;
        color: #495057;
    }
   
    .copiar{
        margin:0;
        
        padding: 0;
        position: absolute;
        top: 950px;
        width: 290px;
        height: 67px;
        left: 60px;
        font-size: 12px;
        display: none;
    }
}


